[Unit]
Description=Backup home files with restic.

[Service]
Type=oneshot
ExecStart=restic backup --verbose --no-scan --files-from %h/.config/restic/include.txt --exclude-file %h/.config/restic/exclude.txt
ExecStartPost=restic forget --prune --keep-weekly 2 --keep-monthly 6 --keep-yearly 3
EnvironmentFile=%h/.local/share/restic.txt
