[user]
    name = Selwyn
    email = talk@selwyn.cc
[alias]
    ad = add .
    br = branch
    ci = commit
    co = checkout
    lo = log --oneline -n 15
    st = status
    up = pull --rebase
[push]
    default = current
[core]
    editor = nvim -c 'put_' -c 'startinsert'
    excludesfile = ~/.config/.global-gitignore
